#graphview.panel.view
    .column.column2.borderleft.tall
        .fifty
            b #{graphview.cols}
            br
            input#graphcols.wide(type="number" data-input="currentGraphic.grid[0]")
            br
        .fifty
            b #{graphview.rows}
            br
            input#graphrows.wide(type="number" data-input="currentGraphic.grid[1]")
            br
        .fifty
            b #{graphview.width}
            br
            input#graphwidth.wide(type="number" data-input="currentGraphic.width")
            br
        .fifty
            b #{graphview.height}
            br
            input#graphheight.wide(type="number" data-input="currentGraphic.height")
            br
        .fifty
            b #{graphview.marginx}
            br
            input#graphmarginx.wide(type="number" data-input="currentGraphic.marginx")
            br
        .fifty
            b #{graphview.marginy}
            br
            input#graphmarginy.wide(type="number" data-input="currentGraphic.marginy")
            br
        .fifty
            b #{graphview.offx}
            br
            input#graphoffx.wide(type="number" data-input="currentGraphic.offx")
            br
        .fifty
            b #{graphview.offy}
            br
            input#graphoffy.wide(type="number" data-input="currentGraphic.offy")
            br
        b #{graphview.frames}
        br
        input#graphframes.wide(type="number" data-input="currentGraphic.untill")
    button#graphsplicedone.wide(data-event="graphicFinishSplit")
        i.icon.icon-confirm
        span #{graphview.done}

    #atlas
        .graphview-tools
            label.file(title="#{graphview.replacegraph}")
                button#graphreplace.inline
                    i.icon.icon-folder
                input#inputgraphreplace(type="file" accept=".png,.jpg,.jpeg,.bmp,.gif" data-event="graphReplace")

            .button-stack
                button.inline(title="#graphview.tools.deleteframe" data-event="graphicDeleteFrame")
                    i.icon.icon-delete
                button.inline(title="#graphview.tools.duplicateframe" data-event="graphicDuplicateFrame")
                    i.icon.icon-duplicate
                button.inline(title="#graphview.tools.addframe" data-event="graphicAddFrame")
                    i.icon.icon-plus
            .button-stack
                button.inline(title="#graphview.tools.shift" data-event="graphicShift")
                    i.icon.icon-move-view
                button.inline(title="#graphview.tools.flipvertical" data-event="graphicFlipVertical")
                    i.icon.icon-flip-vertical
                button.inline(title="#graphview.tools.fliphorizontal" data-event="graphicFlipHorizontal")
                    i.icon.icon-flip-horisontal
                button.inline(title="#graphview.tools.rotate" data-event="graphicRotate")
                    i.icon.icon-refresh
            .button-stack
                button.inline(title="#graphview.tools.resize" data-event="graphicResize")
                    i.icon.icon-maximize
                button.inline(title="#graphview.tools.crop" data-event="graphicCrop")
                    i.icon.icon-crop
        canvas

    .column.borderright.tall.column1
        b #{graphview.name}
        br
        input#graphname(type="text" data-input="currentGraphic.name")
        br
        b #{graphview.center}
        br
        input#graphx.short(type="number" data-input="currentGraphic.axis[0]")
        | ×
        input#graphy.short(type="number" data-input="currentGraphic.axis[1]")
        br
        br
        button#graphcenter.wide(data-event="graphicCenter") #{graphview.setcenter}
        br
        b #{graphview.form}
        br
        label
            input#graphviewshaperound(type="radio" name="collisionform" value="'circle'" data-input="currentGraphic.shape" data-event="graphicShowCircle")
            span #{graphview.round}
        br
        label
            input#graphviewshaperectangle(type="radio" name="collisionform" value="'rect'" data-input="currentGraphic.shape" data-event="graphicShowRect")
            span #{graphview.rectangle}
        br
        br
        #graphviewround
            b #{graphview.radius}
            br
            input#graphrad(type="number" data-input="currentGraphic.r")
        #graphviewrect
            .center
                input#graphtop.short(type="number" data-input="currentGraphic.top")
                br
                input#graphleft.short(type="number" data-input="currentGraphic.left")
                | ×
                input#graphright.short(type="number" data-input="currentGraphic.right")
                br
                input#graphbottom.short(type="number" data-input="currentGraphic.bottom")
            br
            button.wide(data-event="graphicFillRect")
                i.icon.icon-maximize
                span #{graphview.fill}

    .preview.bordertop
        #preview
            canvas
        div
            button#graphplay.square.inline(data-event="currentGraphicPreviewPlay")
                i.icon.icon-play
            button#graphviewback.square.inline(data-event="currentGraphicPreviewBack")
                i.icon.icon-back
            button#graphviewnext.square.inline(data-event="currentGraphicPreviewNext")
                i.icon.icon-next
            span#graphviewframe
            b #{graphview.speed}
            input#grahpspeed.short(type="number" value="10")
        button#graphcolor.inline.wide(data-event="currentGraphicPreviewColor")
            i.icon.icon-brush
            span #{graphview.bgcolor}
        input.color.rgb#previewbgcolor
        br
        input#graphiftoshowmask(checked type="checkbox")
        span #{graphview}