ul#app.nav
	li#fullscreen(data-event="fullscreen" title="#{menu.min}")
		i.icon.icon-minimize

ul#mainnav.nav.tabs
	li.it30#ctlogo(data-event="ct" title="#{menu.ctIDE}")
		img(src="img/ct.ide.svg")
	li.it30(data-event="save" title="#{menu.save}")
		i.icon.icon-save
	li.it30(data-event="run" title="#{menu.launch}")
		i.icon.icon-play

	li(data-tab="#settings" data-tab-default)
		i.icon.icon-settings
		span #{menu.settings}
	li(data-tab="#modules" data-event="openModules")
		i.icon.icon-share
		span #{menu.modules}
	li(data-tab="#graphic")
		i.icon.icon-picture
		span #{menu.graphic}
	li(data-tab="#styles")
		i.icon.icon-brush
		span #{menu.styles}
	li(data-tab="#sounds")
		i.icon.icon-music
		span #{menu.sounds}
	li(data-tab="#types")
		i.icon.icon-smile
		span #{menu.types}
	li(data-tab="#rooms")
		i.icon.icon-room
		span #{menu.rooms}