#roomview.panel.view
	.toolbar.borderright.tall
		.settings.nogrow.noshrink
			b #{roomview.name}
			br
			input#roomname.wide(type="text" data-input="currentRoom.name")
			br
			b #{roomview.width}
			br
			input#roomwidth.wide(type="number" data-input="currentRoom.width")
			br
			b #{roomview.height}
			br
			input#roomheight.wide(type="number" data-input="currentRoom.height")
			br
			button.wide(data-event="roomEvents")
				i.icon.icon-code
				span #{roomview.events}
		.palette
			.tabwrap
				ul.tabs.nav.noshrink.nogrow
					li(data-tab="#roomcopies" data-tab-default) #{roomview.copies}
					li(data-tab="#roombackgrounds" data-event="roomUnpickType") #{roomview.backgrounds}
					//-li(data-tab="#roomtiles") #{roomview.tiles}
				div(style="position: relative;")
					#roomcopies.tabbed.tall
						span#roomnotype(data-event="roomNoType")
							span #{roomview.none}
					#roombackgrounds.tabbed
						#roombgstack
						button.inline.wide(data-event="roomAddBg")
							i.icon.icon-plus
							span #{roomview.add}
					//-#roomtiles.tabbed
						select#roomtilesselect.select
							option(disabled selected) #{roomview.selectbg}
		.done.nogrow
			button.wide#roomviewdone(data-event="roomSave")
				i.icon.icon-confirm
				span #{roomview.done}
	.editor
		canvas
		.shift
			button.inline.square(title="#{roomview.shift}" data-event="roomShift")
				i.icon.icon-move-view
		.zoom
			b #{roomview.zoom}
			div.button-stack
				button#roomzoom25.inline(data-event="roomToggleZoom" data-zoom="0.25") 25%
				button#roomzoom50.inline(data-event="roomToggleZoom" data-zoom="0.5") 50%
				button#roomzoom100.inline.active(data-event="roomToggleZoom" data-zoom="1") 100%
				button#roomzoom200.inline(data-event="roomToggleZoom" data-zoom="2") 200%
		.grid
			button#roomgrid(data-event="roomToggleGrid") #{roomview.grid}
		.center
			button#roomcenter(data-event="roomToCenter") #{roomview.tocenter}
#roomevents.view.panel(style="display: none;")
	.tabwrap
		ul.tabs.nav.nogrow.noshrink
			li(data-tab="#roomcreate" data-event="roomoncreate" data-tab-default)
				i.icon.icon-lamp
				span #{roomview.create}
			li(data-tab="#roomstep" data-event="roomonstep")
				i.icon.icon-timer
				span #{roomview.step}
			li(data-tab="#roomdraw" data-event="roomondraw")
				i.icon.icon-brush
				span #{roomview.draw}
			li(data-tab="#roomleave" data-event="roomonleave")
				i.icon.icon-exit
				span #{roomview.leave}
		div(style="position: relative;")
			#roomcreate.tabbed
				#roomoncreate.acer(data-mode="javascript" data-acervar="roomoncreate")
			#roomstep.tabbed
				#roomonstep.acer(data-mode="javascript" data-acervar="roomonstep")
			#roomdraw.tabbed
				#roomondraw.acer(data-mode="javascript" data-acervar="roomondraw")
			#roomleave.tabbed
				#roomonleave.acer(data-mode="javascript" data-acervar="roomonleave")
	button.wide.nogrow.noshrink(data-event="roomSaveEvents")
		i.icon.icon-confirm
		span #{roomview.done}