#styleview.panel.view
	#styleleft.tall
		.tabwrap.tall
			ul.nav.tabs.nogrow.noshrink
				li(data-tab="#stylefont" data-tab-default) #{styleview.font}
				li(data-tab="#stylefill") #{styleview.fill}
				li(data-tab="#stylestroke") #{styleview.stroke}
				li(data-tab="#styleshadow") #{styleview.shadow}
			div(style="overflow: auto;")
				#stylefont.tabbed
					label
						input#iftochangefont(type="checkbox" data-event="styleToggleFont")
						span #{styleview.active}
					#stylefontinner
						b #{styleview.fontfamily}
						input#fontfamily.wide(type="text" data-input="currentStyle.font.family")
						br
						b #{styleview.fontsize}
						br
						input#fontsize.short(type="number" data-input="currentStyle.font.size" step="1")
						#fontsizeslider
						br
						b #{styleview.alignment}
						.align.buttonselect
							button#topleft.inline(value="top left" data-event="styleSetAlign")
								i.icon.icon-menu
							button#topcenter.inline(value="top center" data-event="styleSetAlign")
								i.icon.icon-text-center
							button#topright.inline(value="top right" data-event="styleSetAlign")
								i.icon.icon-menu-right
						.align.buttonselect
							button#middleleft.inline(value="middle left" data-event="styleSetAlign")
								i.icon.icon-menu
							button#middlecenter.inline(value="middle center" data-event="styleSetAlign")
								i.icon.icon-text-center
							button#middleright.inline(value="middle right" data-event="styleSetAlign")
								i.icon.icon-menu-right
						.align.buttonselect
							button#bottomleft.inline(value="bottom left" data-event="styleSetAlign")
								i.icon.icon-menu
							button#bottomcenter.inline(value="bottom center" data-event="styleSetAlign")
								i.icon.icon-text-center
							button#bottomright.inline(value="bottom right" data-event="styleSetAlign")
								i.icon.icon-menu-right
				#stylefill.tabbed
					label
						input#iftochangefill(type="checkbox" data-event="styleToggleFill")
						span #{styleview.active}
					#stylefillinner
						b #{styleview.filltype}
						br
						label
							input(type="radio" value="0" name="filltype" data-input="currentStyle.fill.type" data-event="styleShowSolid")
							span #{styleview.fillsolid}
						br
						label
							input(type="radio" value="1" name="filltype" data-input="currentStyle.fill.type" data-event="styleShowGrad")
							span #{styleview.fillgrad}
						br
						label
							input(type="radio" value="2" name="filltype" data-input="currentStyle.fill.type" data-event="styleShowPattern")
							span #{styleview.fillpattern}
						br
						br
						.solidfill
							b #{styleview.fillcolor}
							br
							input#fillcolor.color(type="text" data-input="currentStyle.fill.color")
						.gradientfill
							b #{styleview.fillcolor1}
							br
							input#fillcolor1.color(type="text" data-input="currentStyle.fill.color1")
							br
							br
							b #{styleview.fillcolor2}
							br
							input#fillcolor2.color(type="text" data-input="currentStyle.fill.color2")
							br
							br
							b #{styleview.fillgradtype}
							br
							label
								input(type="radio" value="2" name="fillgradtype" data-input="currentStyle.fill.gradtype")
								span #{styleview.fillhorisontal}
							br
							label
								input(type="radio" value="1" name="fillgradtype" data-input="currentStyle.fill.gradtype")
								span #{styleview.fillvertical}
							br
							label
								input(type="radio" value="0" name="fillgradtype" data-input="currentStyle.fill.gradtype")
								span #{styleview.fillradial}
							br
							br
							b #{styleview.fillgradsize}
							br
							input#fillgradsize(type="number" name="fillgradsize" data-input="currentStyle.fill.gradsize")
							#gradsizeslider
						.pattern
							b #{styleview.fillpatname}
							br
							input#fillpatname(type="text" name="fillpatname" data-input="currentStyle.fill.patname")
							button.inline(data-event="styleFindPattern")
								i.icon.icon-search
								span #{styleview.findpat}
				#stylestroke.tabbed
					label
						input#iftochangestroke(type="checkbox" data-event="styleToggleStroke")
						span #{styleview.active}
					#stylestrokeinner
						b #{styleview.strokecolor}
						br
						input#strokecolor.color(type="text" data-input="currentStyle.stroke.color")
						br
						br
						b #{styleview.strokeweight}
						br
						input#strokeweight(type="number" data-input="currentStyle.stroke.weight")
						#strokeweightslider
				#styleshadow.tabbed
					label
						input#iftochangeshadow(type="checkbox" data-event="styleToggleShadow")
						span #{styleview.active}
					#styleshadowinner
						b #{styleview.shadowcolor}
						br
						input#shadowcolor.color(type="text" data-input="currentStyle.shadow.color")
						br
						br
						b #{styleview.shadowshift}
						br
						input#shadowx.short(type="number" data-input="currentStyle.shadow.x")
						| x
						input#shadowy.short(type="number" data-input="currentStyle.shadow.y")
						br
						br
						b #{styleview.shadowblur}
						br
						input#shadowblur(type="number" data-input="currentStyle.shadow.blur")
						#shadowblurslider
			button.wide.nogrow.noshrink(data-event="styleSave")
				i.icon.icon-confirm
				span #{styleview.apply}
	#stylepreview.tall
		canvas#stylepreview(width="550" height="400")