doctype html
html
    include includes/head.pug
    body.maximized(data-manage-window)
        include ../../app/data/icons.svg
        root-tag
        div#theLoadingScreen Loading…
        script.
            try {
                require('gulp');
                /* eslint no-console: 0 */
                console.log(`
            ╭──────────────────────────────────────────╮
            │                                          ├──╮
            │           O-o-oh, a developer!           │  │
            │                                          │  │
            │   If you have recently pulled changes    │  │
            │   and face issues unseen before, run     │  │
            │   this command in your console:          │  │
            │                                          │  │
            │   $ gulp -f devSetup.gulpfile.js         │  │
            │                                          │  │
            ╰─┬────────────────────────────────────────╯  │
              ╰───────────────────────────────────────────╯
                `);
            } catch (e) {
                void e;
            }
        script.
            process.versions.ctjs = require('./package.json').version;
        // Use the legacy version to support low-spec and dated devices running ct.IDE
        script(src="node_modules/pixi.js-legacy/dist/pixi-legacy.min.js")
        script.
            // PIXI-mousewheel plugin from https://github.com/Mwni/pixi-mousewheel
            /* example usage:
                displayObject.interactiveMousewheel = true
                displayObject.on('mousewheel', (delta, event) => {
                    myOtherDisplayObject.y += delta * 100
                })
            */
            "use strict";!function(){var e=function(){function e(e){var t=this;this.app=e,this.eventHandler=function(e){return t.onMouseWheel(e)},this.app.view.addEventListener("mousewheel",this.eventHandler,{passive:!1}),this.app.view.addEventListener("DOMMouseScroll",this.eventHandler,{passive:!1})}var t=e.prototype;return t.onMouseWheel=function(e){var t=this.findScrollTarget({x:e.offsetX,y:e.offsetY});t&&(e.preventDefault(),t.emit("mousewheel",this.deriveNormalizedWheelDelta(e),e))},t.findScrollTarget=function(e){var t=this.app.renderer.plugins.interaction.hitTest(e);if(t&&t.interactiveMousewheel)return t},t.deriveNormalizedWheelDelta=function(e){return e.detail?e.wheelDelta?e.wheelDelta/e.detail/40*(e.detail>0?1:-1):-e.detail/3:e.wheelDelta/120},t.destroy=function(){this.app.view.removeEventListener("mousewheel",this.eventHandler),this.app.view.removeEventListener("DOMMouseScroll",this.eventHandler)},e}();Object.defineProperty(PIXI.DisplayObject.prototype,"interactiveMousewheel",{get:function(){return this._interactiveMousewheel},set:function(e){this._interactiveMousewheel=e,e&&!this.interactive&&(this.interactive=!0)}}),PIXI.Application.registerPlugin({init:function(t){this._mousewheelPlugin=new e(this)},destroy:function(){this._mousewheelPlugin.destroy()}})}();
        script(src="data/ct.release/DragonBones.min.js")
        script(src="node_modules/pixi-particles/dist/pixi-particles.min.js")
        script.
            /* So that WebGL contexts are taken from one page,
               even if PIXI was called from the background page,
               which is used for node modules
            */
            global.PIXI = PIXI;
        script.
            // A polyfill for different nw.js versions
            if (!window.__dirname) {
                window.__dirname = global.__dirname;
            }
        script(src="data/bundle.js")
        script(src="data/riotTags.js")
        script.
            // @see https://github.com/microsoft/monaco-editor-samples/blob/master/nwjs-amd-v2/index.html
            (function loadMonaco() {
                var eRequire = require('monaco-editor/min/vs/loader.js');
                // __dirname == root path of you application
                eRequire.config({
                    baseUrl: 'file:///' + global.__dirname.replace(/\\/g, '\\\\') + '/node_modules/monaco-editor/min/'
                });
                // workaround monaco-css not understanding the environment
                self.module = void 0;
                // workaround monaco-typescript not understanding the environment
                self.process.browser = true;
                eRequire(['vs/editor/editor.main'], function onMonacoLoad() {
                    window.monaco = global.monaco;

                    const themeManager = require('./data/node_requires/themes');
                    themeManager.loadBuiltInThemes();
                    // To rollback to a default theme if the set one is inaccessible ⤵
                    themeManager.loadTheme();

                    // Extended typescript tokenizer
                    const typescript = require('./data/node_requires/typescriptTokenizer.js').language;
                    // I have no guilt of this solution
                    // @see https://github.com/microsoft/monaco-editor/issues/884
                    monaco.editor.create(document.createElement('textarea'), {
                        language: 'typescript',
                        value: '(:'
                    });
                    setTimeout(() => {
                        monaco.languages.setMonarchTokensProvider('typescript', typescript);
                    }, 1000);

                    window.signals = window.signals || riot.observable({});
                    window.orders = window.orders || riot.observable({});
                    window.signals.trigger('monacoBooted');
                });
            })();
        script.
            'use strict';
            window.signals = window.signals || riot.observable({});
            window.hotkeys = require('./data/node_requires/hotkeys')(document);
            riot.mount('*');
            setTimeout(() => {
                document.getElementById('theLoadingScreen').classList.add('fadeout');
            }, 0);
